@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@400;800&display=swap');

body{
    background-image: url(images/background-image.png);
    margin: 0;
    font-family: 'Montserrat', sans-serif;
}

.heading{
    margin-bottom: 2rem;
}

.container{
    background-color: #FCA5A5;
    padding: 2rem 1rem;
    margin: 2rem auto;
    max-width: 600px;
    width: 80%;
    text-align: center;
    border-bottom-left-radius: 2.5rem;
    border-top-right-radius: 2.5rem;
    /* height: 90vh; */

}

label{
    font-size: larger;
}

input{
    display: block;
    padding: 1rem;
    margin: 1rem auto;
    width: 60%;
    font-size: 1rem;
}

button{
    border-radius: 0.25rem;
    border-color: #FCA5A5;
    background-color: white;
    font-size: large;
    /* color: #FCA5A5; */
    padding: 0.5rem 1rem;
    margin: 1rem;
}

.footer {
  font-size: 1.25rem;
  color: black;
  padding-bottom: 0.5rem;
  padding-top: 0;
  text-align: center;
  margin-top: 6rem;
  /* height: 2.25rem; */
}

.link{
  /* color: white; */
  text-decoration: none;
  font-weight: bold;
}
.list-no-bullet{
  list-style: none;
  padding-inline-start: 0;

}

.list-inline{
  display: inline;
  padding: 0.75rem;
}

.icon{
  height: 2rem;
  width: 2rem;
}